footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

footer img {
    max-width: 100px;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.3));
}